*{ 
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
   }

.pointer {
    cursor: pointer;
}
.header {
    margin-left: 32px;
}

.flexCss{
    display: flex;

}

.flexCss label{
    float: right;
    width: 50px;

}

.flexCss input{
    flex:1;

}
.header-hover:hover {
    color: #508bfc;
}
.active {
    color: rgb(209, 24, 40);
}
input[type=input] {
    font-size: 16px;
    color: #007bff;
    font-weight: bold;
  }
 .kq {
    color: #df1a1a;
    font-weight: bold;
 } 

  table,td, th {
    border: 1px solid black;
    border-color: rgb(8, 8, 8) !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    
}
table {
    height: fit-content;
    table-layout: fixed;
    width: 100%;
  }
thead {
    position: sticky;
    top:-1px;
}
th:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
}

th:before {
    top: 0px;
    border-top: 2px solid #000;
}

th:after {
    bottom: -1px;
    border-bottom: 2px solid #000;
}
  .max-height{
    max-height: 480px;
  }
.mt-kq {
    margin-left: 400px;
}
tbody{
    font-size: 12px;
}

  